@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .custom-size {
        width: 20.5rem;
        height: 31.5rem;
    }

    .cuenta {
        width: 23rem;
    }

    .carrito {
        width: 38rem;
    }

    .animate-tren {
        transition: animation-duration 0.5 ease;
    }

    .animate-tren:hover{
      animation-play-state: paused;
    }
}